
/* css */

body {
  background-color: black;
  color: white;
  font-family: 'Roboto Slab', 'Georgia', serif;
  
}

.navbar {
  padding-left: 20px;
}

.navbar-brand {
  font-size: 25px;
}
.nav-link {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav {
  color: black;
}

a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}

.nav-tabs > li.active > .favorites {
  color: #3c5a78;
  font-size: 16px;
  background-color: white;
}
.nav-tabs > li > .favorites {
  color: #575757;
  font-size: 16px;
}

/*Focus and Hover properties are key!!*/
.nav-tabs > li.active > .meal-time, .nav-tabs > li.active > .meal-time:focus, .nav-tabs > li.active > .meal-time:hover {
  color: white;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
}

.nav-tabs > li > .meal-time {
  background-color: transparent;
  color: #575757;
  font-size: 16px;
  border: none
}

.nav-tabs > li > .meal-time:hover {
  background-color: transparent;
  color: white;
  border: none;
}





h1 {
  font-size: 30px;
  text-align: center;
}
h6{
  font-size: 10px;
}

#about-section {
  font-size: 14px
}

.vote-food-title {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
}


.comment-vote {
  margin-left: 30px;
  font-weight: bold;
  font-size: 10px
}

.scoresPiece {
  margin:0;
  line-height: 90%;
  font-size: 20px;
  text-align: center;
  color: black
}

.scoresPiece > a {
  color: black
}

.commonsPicture {
  width: 300px; height: 150px; margin-top: 15%
}

.form-control {
  width: 300px;
}

.favoritesTable{
  width: 80%;
}

td {
  font-size: 15px
}
.favoritesTable th {
  font-size: 15px
}

/*Remove padding and margin for row when very small for vote rows*/
.vote-row {
  background-color: white;
  color: black;
  margin: 5px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

/* sizes: m */
@media (min-width: 768px) {
 h1 {font-size: 40px;}
 #about-section {
   font-size: 18px
 }
 h6{font-size:12px}
 .vote-food-title{
     margin-left: 15px;
    font-size: 30px;
    }
    
  .comment-vote{
    margin-left: 25px;
    font-size: 15px;
  }
  .scoresPiece{
    
    font-size: 30px;
    text-align: center
  }
  .commonsPicture {
    width: 600px; height: 400px; margin-top: 15%
  }
  .form-control {
    width: 350px;
  }
  .favoritesTable{
    width: 550px;
  }
  td {
    font-size: 20px
  }
  .favoritesTable th {
    font-size: 20px
  }
  .vote-row {
    margin: 15px;
  }
  
}
/* sizes: l, xl */
@media (min-width: 992px) {
 h1 { font-size: 50px;}
 #about-section {
   font-size: 23px
 }
 h6{font-size:15px}
}

@media (min-width: 2560px) {
  #about-section {font-size: 35px}
  h1 { font-size: 60px;}
}

.row {
  padding: 10px;
  vertical-align: middle;
}

/* black color palette - https://www.color-hex.com/color-palette/45492 */
table {
  align-self: center;
  text-align:center;
  border: 2px solid white;
  margin: auto;
  width: 325px;
}

th {
  border: 1px solid white;
  padding: 10px;
  background-color: #111111;
  font-size: 20px;
}
tr {
  border: 1px solid white;
  padding: 10px;
  font-size: 20px;
  background-color: #1e1e1e;
}
tr:nth-child(even) {
  background-color: #4d4d4d;
}

td{
  border: 1px solid white;
  padding: 10px;
}

.vote-header {
  text-align: left;
  font-size: 40px
}


/* LogIn styles */

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.table-div {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.table-header {
  font-size: 35px;
  margin-bottom: 12px;
  margin-top: 20px
}
